{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
      {% block content %}
        <h1>Hello, world!</h1>
      {% endblock content %}
    

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block script %}
      
    {% endblock script %}
    <script>
            $(document).ready(function(){
              var typingTimer;
              var doneInterval = 800; // in ms
              var searchInput = $("#navbar-search-form input[type=text]")
              var searchQuery;
              searchInput.keyup(function(event){
                  searchQuery =  $(this).val()
                  clearTimeout(typingTimer)
                  typingTimer = setTimeout(doneSearchTyping, doneInterval)
                  
              })
               searchInput.keydown(function(event){
                  clearTimeout(typingTimer)  
              })
              function doneSearchTyping(){
                if (searchQuery){
                  // do search
                  var url = '/search/?q=' + searchQuery
                  document.location.href = url;
                }
              }
            })
          </script>
  </body>
</html>